.Modal {
  width: 100%;
  height: 100%;
  z-index: 2000;
  position: fixed;
  overflow: hidden;
}

.Modal_Backdrop {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}

.Modal_Children {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  max-width: 100vw;
  min-width: 20%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20001;
  animation: from-top 0.5s ease-in;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes from-top {
  0% {
    top: 0;
    left: 50%;
  }

  80% {
    top: 55%;
  }
}
